html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
nav {
  width: 100%;
  background-color: #2c3e50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.logo {
  display: inline-block;
  text-decoration: none;
  color: #DAA520;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  background-color: white;
}

.nav-item:hover a {
  color: #DAA520;
}

.logo img {
  width: 175px;
  vertical-align: middle;
}

/*----------*/

#contactus{
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
#contactus > div,
#contactus > article{
  width: 35%;
  padding: 10px;
}
#contactus > div{
  background-color: lightgrey;
}
#contactus > div form h3{

}
.form-contact {
  display: flex;
  flex-wrap: wrap;
}
.form-contact div{
  width : 50%;
  border-radius: 5px;
  padding: 5px;
}
.form-contact textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.form-contact input[type=text], 
.form-contact select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
.form-contact input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
.form-contact input[type=submit]:hover {
    background-color: #45a049;
  }


  /*---------*/

.container-image {
    display: flex; /* or inline-flex */
    flex-wrap: wrap;
    width: 100%;
  }
.gambar {
    position: relative;
    width: 25%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 250px;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .gambar:hover .image {
    opacity: 0.3;
  }
  
  .gambar:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

/*---*/

footer{
  bottom: 0;
}
.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 55px 50px;
  margin-top: 20px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}
 
.footer-distributed .footer-left{
  width: 40%;
}
 
.footer-distributed h3{
  color:  #ffffff;
  margin: 0;
}
 
.footer-distributed h3 span{
  color:  #DAA520;
}
 
 
.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}
 
.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}
 
.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-weight: normal;
  margin: 0;
}
 
 
.footer-distributed .footer-center{
  width: 35%;
}
 
.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
  line-height: 38px;
}
 
.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}
 
.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  line-height:2;
}
 
.footer-distributed .footer-center p a{
  color:  #DAA520;
  text-decoration: none;;
}
 
.footer-distributed .footer-right{
  width: 20%;
}
 
.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-weight: normal;
  margin: 0;
}
 
.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-weight: bold;
  margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
  margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
 
  color: #ffffff;
  text-align: center;
  line-height: 35px;
 
  margin-right: 3px;
  margin-bottom: 5px;
}
/*--------*/


#fasility .row{
  text-align:  center;
  border-right: none;
  background: rgba(0,0,250,.1);

}
#fasility .kepala{
  background: #8665f7;
  box-shadow: none;
  color: #fff;
  font-weight: 600;
  border: none;
}
#fasility th,
#fasility td{
  padding: 8px 13px;
}
#fasility h2{
   color: #00f;
   font-size: 25pt;
}
#article {
  padding: 50px;
}
#article h3{
  font-size: 25pt;
  font-variant: inherit; 
  text-align: left;
  color: #00f;
  margin: 10px;
  margin-left: 40px;
  
}
#article h1{
  text-align: center;
  margin: auto;
  color: #00f;
  font-size: 40pt;
}
#article .ul{
  position: relative;
  margin: 30px auto 0;
  padding: 50px;
  background: rgba(0,0,250,.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 75vw;
  flex-wrap: wrap;
}
#article .lo{
  display: flex;
  background: rgba(135,206,235,.9);
  padding: 10px 20px;
  color: #fff;
  margin: 5px 0;
  transition: .5s;
  text-align: left;

}
#article .lo:hover{
  transform: scale(1.06);
  transition: .5s;
  background: #ff3772;
}
#article li{
  padding: 0 30px;
  list-style: none;
  position: relative;
  flex: 50%;
}
#article li img {
  position: absolute;
  left: 30px;
  top: 0;
  transform: translate(-50%);
}
#article ul img{
  width: 50px;
  height: 50px;

}

/*-----------*/
.header-home{
  position: relative;
}
.header-home > figcaption{
  position: absolute;
  z-index: 9;
  /*top: 0;*/
  bottom: 150px;
  left: 0;
  right: 0;
  margin: auto 0;
  text-align: center;
}
.header-home > figcaption > form{
  background-color: #2c3e50;
  display: inline-flex;
  justify-content: space-between;
  text-align: baseline;
  padding: 15px 30px;
}
.header-home > figcaption > form >*{
  margin: 0 5px;
  font-size: 15px;
}
.header-home > figcaption > form > input[type="submit"]{
  padding: 5px 10px;
  outline: none;
  background-color: #DAA520;
  color: #fff;
  border: 0;
  cursor: pointer;
  border-radius: 2px;
}

.carousel-wrapper{
  height: 80vh;
  position:relative;
  width:100%;
  margin:0 auto;
}
.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
}
.arrow{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}
.arrow-prev{
  left:30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
}
.arrow-next{
    right:30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
  }

.light{
  color:white;
}


/*Select every element*/
[id^="item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
    background:url('https://static.pexels.com/photos/6526/sea-beach-holiday-vacation-large.jpg');
    background-size:cover;
}

.item-2{
  background:url('https://static.pexels.com/photos/6506/alcohol-bar-drinks-party-large.jpg');
   background-size:cover;
}
.item-3{
  background:url('https://static.pexels.com/photos/6529/lake-kajak-kayak-large.jpg');
   background-size:cover;
}

*:target ~ .item-1 {
    opacity: 0;
}

#item-1:target ~ .item-1 {
    opacity: 1;
}

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}
