/*@font-face {
  font-family: Quicksand-l;
  src: url('../font/Quicksand/Quicksand-Light.ttf');
}
@font-face {
  font-family: Quicksand-r;
  src: url('../font/Quicksand/Quicksand-Regular.ttf');
}
@font-face {
  font-family: Quicksand-s;
  src: url('../font/Quicksand/Quicksand-SemiBold.ttf');
}*/
@font-face {
  font-family: Cinzel-s;
  src: url('../font/Cinzel-Bold.ttf');
}
@font-face {
  font-family: Cinzel-r;
  src: url('../font/Cinzel-Regular.ttf');
}
@font-face {
  font-family: Quicksand-r;
  src: url('../font/Quicksand-Regular.ttf');
}
@font-face {
  font-family: Quicksand-s;
  src: url('../font/Quicksand-SemiBold.ttf');
}
*{
  font-family: Quicksand-r, BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif!important;
  font-weight: normal!important;
}
html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.cinzel-s{
  font-family: Cinzel-s!important;
  font-weight: none!important;
}
.cinzel-r{
  font-family: Cinzel-r!important;
  font-weight: none!important;
}
.quicksand-s{
  font-family: Quicksand-s!important;
  font-weight: none!important;
  text-shadow: 0px 0px 6px rgba(0,0,0,0.6);
}
main{
  padding: 40px 0;
}
.has-text-warning{
  text-shadow: 0px 0px 0px rgba(0,0,0,0.5);
}
#aboutus-main h6{
  font-weight: 400!important;
}
#aboutus-main img{
  border-radius: 4px;
  object-fit: cover;
  filter: grayscale(0.4);
}
header{
  padding-top: 71px;
}
.navbar{
  position: fixed;
  top:0;
  width: 100%;
  border-bottom: 1px solid lightgrey;
}
.navbar-burger{
  height: initial!important;
}
.navbar-menu .navbar-item{
  font-family: Quicksand-s!important;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.select:not(.is-multiple):not(.is-loading)::after{
  border-color: grey!important;
}
.navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover{
  color:#ffdb4a;
  background-color: #fafafa;
}
section.hero{
  position: relative;
}
section.hero::before{
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0,0,0,0.5);
  position: absolute;
  left: 0;
  top: 0;

}
section.hero.aboutus{
  background-image: url("../img/uns2.jpg");
  background-size: cover;
  background-position: center;
  filter: grayscale(0.4);
}

section.hero.contactus{
  background-image: url("../img/uns5.jpg");
  background-size: cover;
  background-position: center;
  filter: grayscale(0.4);
}

section.hero.member{
  background-image: url("../img/header-member.jpg");
  background-size: cover;
  background-position: center;
  filter: grayscale(0.4);
}

section.hero.gallery{
  background-image: url("../img/uns4.jpg");
  background-size: cover;
  background-position: center;
  filter: grayscale(0.4);
}
#aboutus-page img{
  border-radius: 5px;
  filter: grayscale(0.5);
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header-fm {
  font-size: 25px;
  background-color: #111;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}




.logo {
  display: inline-block;
  text-decoration: none;
  color: #DAA520;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  background-color: white;
}

.nav-item:hover a {
  color: #DAA520;
}

.logo img {
  width: 175px;
  vertical-align: middle;
}

/*----------*/

#contactus{
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
#contactus > div,
#contactus > article{
  width: 35%;
  padding: 10px;
}
#contactus > div{
  background-color: lightgrey;
}
#contactus > div form h3{

}
.form-contact {
  display: flex;
  flex-wrap: wrap;
}
.form-contact div{
  width : 50%;
  border-radius: 5px;
  padding: 5px;
}
.form-contact textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.form-contact input[type=text], 
.form-contact select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
.form-contact input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
.form-contact input[type=submit]:hover {
    background-color: #45a049;
  }


  /*---------*/

.container-image {
    display: flex; /* or inline-flex */
    flex-wrap: wrap;
    width: 100%;
  }
.gambar {
    position: relative;
    width: 25%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 250px;
    transition: .5s ease;
    backface-visibility: hidden;
    filter: grayscale(0.5);
    object-fit: cover;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  
  .gambar:hover .image {
    opacity: 1;
  }
  
  .gambar:hover .middle {
    opacity: 0.9;
  }
  
  .text {
    background-color: #ffdb4a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #292c2f;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    padding: 10px;
  }

/*---*/

footer.footer{
  bottom: 0;
  background-color: #202020;
}


#fasility .row{
  text-align:  center;
  border-right: none;
  background: rgba(0,0,250,.1);

}
#fasility .kepala{
  background: #8665f7;
  box-shadow: none;
  color: #fff;
  font-weight: 600;
  border: none;
}
#fasility th,
#fasility td{
  padding: 8px 13px;
}
#fasility h2{
   color: #00f;
   font-size: 25pt;
}
#article {
  padding: 50px;
}
#article h3{
  font-size: 25pt;
  font-variant: inherit; 
  text-align: left;
  color: #FADA5E;
  margin: 10px;
  margin-left: 40px;
  
}
#article h1{
  text-align: center;
  margin: auto;
  color: #FADA5E;
  font-size: 40pt;
}
#article .ul{
  position: relative;
  margin: 30px auto 0;
  padding: 50px;
  background: #808080;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 75vw;
  flex-wrap: wrap;
}
#article .lo{
  display: flex;
  background: #c0c0c0;
  padding: 10px 20px;
  color: #000000;
  margin: 5px 0;
  transition: .5s;
  text-align: left;

}
#article .lo:hover{
  transform: scale(1.06);
  transition: .5s;
  background: #000000;
  color: #FADA5E
}
#article li{
  padding: 0 30px;
  list-style: none;
  position: relative;
  flex: 50%;
}
#article li img {
  position: absolute;
  left: 30px;
  top: 0;
  transform: translate(-50%);
}
#article ul img{
  width: 50px;
  height: 50px;

}

/*-----------*/
.header-home{
  position: relative;
}
.header-home > figcaption{
  width: 90%;
  height: 100%;
  position: absolute;
  margin: 0 auto;
  z-index: 3;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header-home > figcaption > div{
  text-shadow: 0px 0px 6px rgba(0,0,0,0.6);
}
.header-home > figcaption > form{
  position: absolute;
  bottom: 30px;
  width: 52%;
  height: 70px;
  background-color: #292c2f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding: 10px 20px 0;
}
.header-home > figcaption > form input[type="text"]::placeholder {
  color: black!important;
  font-weight: 500;
  opacity: 1!important;
}
.header-home > figcaption > form .select select{
  width: 160px!important;
}
.header-home > figcaption > form .input{
  max-width: 140px!important;
}
.header-home > figcaption > form button.button{
  position: relative;
  top: -5px;
}
.carousel-wrapper{
  height: 60vh;
  position:relative;
  width:100%;
  margin:0 auto;
}
.carousel-item::after{
  content: '';
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background: rgba(0,0,0,0.3);
  display: block;
  position: absolute;
  z-index: 2;
}
.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
}
.arrow{
    border: solid white;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 12px;
    z-index: 3;
}
.arrow-prev{
  left:20px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
}
.arrow-next{
  right:20px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
  }

.light{
  color:white;
}


/*Select every element*/
[id^="item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
    background:url('../img/slider3.jpg');
    background-size:cover;
    background-position: center;
    filter: grayscale(0.3);
}

.item-2{
  background:url('../img/slider4.jpg');
   background-size:cover;
   background-position: center;
   filter: grayscale(0.3);
}
.item-3{
  background:url('../img/slider2.jpg');
   background-size:cover;
   background-position: center;
   filter: grayscale(0.3);
}

*:target ~ .item-1 {
    opacity: 0;
}

#item-1:target ~ .item-1 {
    opacity: 1;
}

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}
